.navbar {
  height: 35px;
  width: 100vw;
  position: fixed;
  left: 0;
  background-color: #324044;
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-app-region: drag;

  * {
    user-select: none;
  }

  & > img {
    margin-left: 15px;
    object-fit: contain;
  }
}

.content {
  height: calc(100vh - 35px);
  width: 100vw;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #333;
}

.toolbar {
  -webkit-app-region: no-drag;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & > * {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 35px;
    color: #3fd294;
    font-size: 14px;

    &:hover,
    &[data-open='true'] {
      background-color: #3d5055;
    }
  }
}

.toolbarMenu {
  position: fixed;
  border-radius: 2px;
  background-color: #454545;
  box-shadow: 1px 1px 5px #222;
  min-width: 250px;
  color: #3fd294;
  z-index: 1000000;
  padding: 10px 0px;

  & * {
    user-select: none;
  }

  & > p {
    padding: 5px 15px;
    font-size: 15px;
    &:hover {
      background-color: #333;
    }
  }

  & > hr {
    margin: 10px 0px;
    background-color: #999;
    border-style: none;
    height: 1px;
  }
}

.fullscreenPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222c;

  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: #454545;
    padding: 40px 20px;
    min-width: 500px;
    max-width: 600px;
    color: #eee;
    border-radius: 2px;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .aboutFounder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;

    & > img {
      border-radius: 50%;
      user-select: none;
    }

    // Details
    & > div {
      margin-left: 20px;

      & > p {
        color: #aaa;
      }

      & > p:first-child {
        font-size: 24px;
        font-weight: 600;
        color: #eee;
      }

      // Socials
      & > div {
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        & > i {
          font-size: 22px;
          color: #999;

          &:hover {
            color: #eee;
            cursor: pointer;
          }
        }

        & > i:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

.btnPrimary {
  background-color: #0000;
  border: none;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #ffffff00;
  border-bottom-color: #ffffff00;
  transition: border-bottom-color 0.05s linear;

  &:hover {
    cursor: pointer;
    border-bottom-color: #ffffff;
  }
}
